fastapi 
uvicorn 
pandas 
scikit-learn 
numpy 
joblib 
python-socketio
xgboost
requests
python-jose[cryptography] 
passlib[bcrypt]
supabase
python-dotenv
haversine


pydantic[email]
python-multipart

gotrue